form {
  display: flex;
  justify-content: center;
}

legend {
  text-align: center;
}

input:invalid {
  border-color: #f00;
}

input:valid {
  border-color: #00ff00;
  scale: 1.1;
}

input:focus {
  border-color: #ffa500;
  box-shadow: 10px 10px #00ff00;
}

button:hover {
  background-color: #000000;
  color: #ffff;
  scale: 1.1;
  box-shadow: 10px 10px #00ff00;
}
