*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 20px;
}

#fieldEj1 {
  width: 30%;
}

table {
  border-collapse: collapse;
  width: 20%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
