<h1>{{ title }}</h1>

<form [formGroup]="carForm" (ngSubmit)="onSubmit()">
  <label for="marca">Marca:</label>
  <input
    type="text"
    id="marca"
    formControlName="marca"
    maxlength="30"
    minlength="1"
  />
  <label for="modelo">Modelo:</label>
  <input
    type="text"
    id="modelo"
    formControlName="modelo"
    maxlength="30"
    minlength="1"
  />
  <label for="fecha">Fecha del coche:</label>
  <input type="date" id="fecha" formControlName="fecha" />
  <label for="precio">Precio:</label>
  <input type="number" id="precio" formControlName="precio" />
  <label for="imagen">URL Imagen:</label>
  <input type="text" id="imagen" formControlName="imagen" />

  <label for="descripcion">Breve descripción</label>
  <textarea
    placeholder="Describa su coche"
    id="descripcion"
    formControlName="descripcion"
    maxlength="255"
  ></textarea>
  <button type="submit" [disabled]="!carForm.valid">Enviar</button>
</form>

<!-- <p>{{carForm.value | json}}</p> -->
