<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="w-50 mx-auto mt-3">
    <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" aria-describedby="emailHelp" formControlName="name">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
    </div>
    <div class="mb-3">
        <label for="pass" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="pass" formControlName="password">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Login</button>
</form>