.cuadroExterior {
  width: 200px;
  height: 200px;
  background-color: black;
}
.cuadroInterior {
  width: 100px;
  height: 100px;
  background-color: white;
  top: 55px;
  left: 55px;
}
p {
  position: absolute;
  border: 1px solid #000;
  margin: 0 auto;
}
