#container {
  display: flex;
  justify-content: space-between;
}
header {
  background-color: #ffff;
  display: inline-block;
  justify-content: space-between;
}

header img {
  max-width: 20%;
}

main {
  background-color: #00ffff;
  display: flex;
  justify-content: space-around;
}

#banner {
  text-align: center;
  object-fit: cover;
}

ul {
  list-style: none;
}

li {
  display: inline;
  border: 1px solid #000;
  padding: 1em;
  border-radius: 0.5em;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
#crear {
  background-color: #ffa500;
}
#consultar {
  background-color: #ff0000;
}

input {
  background-color: #eaeaea;
}
