body,
header,
nav,
footer {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #000;
}

header {
  width: 100%;
}
header img {
  width: 50%;
  display: block;
  margin: 0 auto;
}

nav {
  margin: 8em 3em 0 0;
  width: 100%;
  margin: 0 auto;
}

header,
nav {
  position: -webkit-sticky;
  position: sticky;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  font-size: 1.75em;
  font-family: Verdana, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}

nav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  max-height: 100%;
}

main {
  clear: left;
  background-color: #fff;
  padding: 2%;
  font-size: 2em;
}

footer p {
  font-size: 0.75em;
  text-align: center;
  color: #fff;
  padding: 0.1em;
}

footer p a {
  color: #fff;
  text-decoration: none;
}

#weights,
#training,
#cardio {
  width: 29%;
  float: left;
  margin: 0 2%;
}

#exercises {
  clear: left;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #f2f2f2;
  padding: 1% 2%;
}

#exercises dt {
  font-weight: bold;
}

#exercises dd {
  padding: 0.5% 1% 2% 0;
}

#contact {
  text-align: center;
}

#contact a {
  color: #666600;
  text-decoration: none;
}

.action {
  font-size: 1.35em;
  color: #666600;
  font-weight: bold;
}

.map {
  border: 8px solid #000;
}
