<h1>{{ title }}</h1>

<p>
  ¿Buscas coche? Tenemos anuncios de todas las marcas y modelos al mejor precio.
  ¡Sin intermediarios! Compra tu coche al mejor precio en Mianuncios. Compra y
  vende de todo. Coches de 2a mano. Compra-venta 100% segura. Tipos: Coches,
  Motos, Caravanas
</p>

<figure>
  <img
    src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRAw8mXf8xDmk0i6mLeB1oUJsDtOI19ssGbR_mxThOmRH3_MX3b"
    alt="Imagen segunda mano"
  />
  <figcaption>El mejor sitio de compra-venta</figcaption>
</figure>
