@media screen and (max-width: 480px) {

nav{
    text-align: center;
    
}

nav li{
    border-bottom: 1px solid white;
}

nav li:last-child {
	border-style: none;
}

figcaption{
    margin-top: 0;
    color: black;
    font-weight: bold;
    text-align: center;
}

table{
    display: none;
}

.lista{
    padding-top: 0.5em;
}

.lista p{
    color: white;
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
}

.lista ul{
    list-style-type: none;
}

.lista ul li{
    padding-left: 1em;
    font-size: 1.1em;
    color: white;
    padding-bottom: 0.5em;
}

.lista ul li ul li{
    padding-left: 2em;
    color: black;
    font-size: 0.9em;
    padding-bottom: 0;
}

footer a{
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
}

footer p {
    display: flex;
    flex-direction: row;
    border: none;
    justify-content: space-around;
    margin: 0;
    padding:0.5em;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: black;
    font-size: 1.8;
    font-weight: bold;
}

h2{
    margin: 0;
    padding-top: 0.5em;
    text-align: center;
    color: white;
}

article  p{
    margin: 0;
    padding: 0.5em;
}
.videoPokemon p{
    padding: 0.5em;
    margin: 0;
}
}