<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a [routerLink]="['/afawfawf']" class="navbar-brand">InfernalExamen</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a class="nav-item nav-link" [routerLink]="['/']">Inicio</a>
                <a class="nav-item nav-link" [routerLink]="['/productos']">Productos</a>
                <a class="nav-item nav-link" [routerLink]="['/admin']">Admin Panel</a>
                <a class="nav-item nav-link" [routerLink]="['/formulario']">Product Form</a>
                <!-- <a class="nav-item nav-link" [routerLink]="['/contactUs']">Contacto</a>
                <a class="nav-item nav-link" [routerLink]="['/login']">Login</a>
                <a class="nav-item nav-link" [routerLink]="['/register']">Registro</a>
                <a class="nav-item nav-link" [routerLink]="['/logout']">LogOut</a>
                <a class="nav-item nav-link" [routerLink]="['/notFound']">Knekro</a> -->
                <!-- <a class="nav-item nav-link" href="http://localhost:4200/vendeTuCoche">Vende tu coche</a>
                <a class="nav-item nav-link" href="http://localhost:4200/aboutUs">Sobre nosotros</a>
                <a class="nav-item nav-link" href="http://localhost:4200/contactUs">Contacto</a>
                <a class="nav-item nav-link" href="http://localhost:4200/login">Login</a>
                <a class="nav-item nav-link" href="http://localhost:4200/register">Registro</a> -->
            </div>
        </div>
    </div>
</nav>