<h1>{{ title }}</h1>

<figure>
  <a
    href="https://github.com/ftp-andrei/WorkSpace_VSCode/tree/main/EntornoCliente(JS%2CDOM%2CAjax)/Tema12_Angular/CochesSegundaMano"
  >
    <img
      src="https://global-uploads.webflow.com/5f5a53e153805db840dae2db/6073fbf151fa4565d48572dc_GitHub_aprender-programaci%25C3%25B3n.jpeg"
      alt="Imagen Github"
    />
  </a>
  <figcaption>
    <p>Practica Coches Segunda Mano</p>
  </figcaption>
</figure>

<p>
  Pagina de coches de segunda mano creada por
  <a href="https://github.com/ftp-andrei">Andrei Miu</a>
</p>
