img {
  width: 5em;
  height: auto;
}

body {
  background-color: #bff9b4;
}

#enLinea {
  display: grid;
  justify-content: center;
  align-items: center;
}

input {
  text-align: center;
  margin-bottom: 10px;
}

.submit {
  display: flex;
  justify-content: flex-end;
}

.submit a input {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
}

label {
  text-align: center;
  font-weight: bold;
}
