ul li{
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 2em;
}
ul li a:hover{
    text-decoration: none;
    color: #DDD;
    font-size: 2em;
}

ul{
    display: flex;
    justify-content: space-around;
    background-color: black;
}
