.colorBlack {
  -webkit-filter: brightness(0%);
  filter: brightness(0%);
}

.colorWhite {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

#bgBlackFull {
  height: 100vh;
  margin: 0;
  place-items: center;
  background-color: #000;
}

#h1eImg {
  display: flex;
  justify-content: space-between;
}

#contenedor {
  background-color: #000;
}

#h1LivingRoom {
  color: #fff;
}
#blockh1h2 {
  display: block;
}

#livingRoomImg {
  display: flex;
}
.alinerTexto {
  display: flex;
  padding: 2em;
  color: #eaeaea;
  border: solid 1px;
  border-color: #eaeaea;
}

.alinerTexto p {
  color: white;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #eaeaea;
  position: -webkit-sticky;
  position: sticky;
}

#luz:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@-webkit-keyframes cambiarColor {
  0% {
    /*from indica 0%*/
    background-color: black;
  }
  100% {
    margin-top: 3em;
    margin-left: 2em;
    width: 5em;
    height: 5em;
    background: #ffff00;
    border-radius: 50%;
  }
}

@keyframes cambiarColor {
  0% {
    /*from indica 0%*/
    background-color: black;
  }
  100% {
    margin-top: 3em;
    margin-left: 2em;
    width: 5em;
    height: 5em;
    background: #ffff00;
    border-radius: 50%;
  }
}

@-webkit-keyframes cambiarColor2 {
  0% {
    /*from indica 0%*/
    background-color: black;
  }
  100% {
    margin-top: 3em;
    margin-left: 2em;
    width: 10em;
    height: 10em;
    background: #fffa00;
    border-radius: 50%;
  }
}

@keyframes cambiarColor2 {
  0% {
    /*from indica 0%*/
    background-color: black;
  }
  100% {
    margin-top: 3em;
    margin-left: 2em;
    width: 10em;
    height: 10em;
    background: #fffa00;
    border-radius: 50%;
  }
}
