@media screen and (max-width: 480px) {
  body {
    display: grid;
    height: 100vh;
    margin: 0;
    place-items: center;
  }

  main p {
    color: #000;
    font-weight: bold;
  }

  .black {
    background-color: black;
    margin-bottom: 2em;
    display: block;
    text-align: center;
  }

  .black p {
    color: #fff;
    text-align: left;
    font-weight: bold;
    padding: 1em;
  }

  nav a img {
    width: 3em;
    height: auto;
  }

  #imgCabecera img {
    width: 4em;
    border-radius: 5em;
    /*TODO: Bajar img*/
  }

  #h1eImg h1 {
    width: 2em;
  }

  #logoComercio {
    width: 25%;
  }

  footer p {
    width: 3em;
    font-weight: bold;
  }

  #luz {
    margin: 0 auto;
    text-align: center;
    padding: 30%;
    -webkit-animation: cambiarColor, cambiarColor2;
    animation: cambiarColor, cambiarColor2;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-play-state: running;
  }
}
