@media screen and (min-width: 769px) {
  body {
    height: 100vh;
    margin: 0;
    place-items: center;
  }
  .row {
    margin-top: 5em;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  }

  main p {
    color: #000;
    font-weight: bold;
    font-size: 1.75em;
  }

  .black {
    background-color: black;
    margin-bottom: 2em;
    display: block;
    text-align: center;
    width: 100%;
    padding: 2em;
    margin: 2em;
  }

  .black p {
    color: #fff;
    text-align: left;
    font-weight: bold;
  }

  nav a img {
    width: 5em;
    height: auto;
  }

  #imgCabecera img {
    width: 8em;
    border-radius: 5em;
    /*TODO: Bajar img*/
  }

  #logoComercio {
    width: 8em;
  }

  footer p {
    width: 8em;
    font-weight: bold;
  }

  #luz {
    margin: 0 auto;
    text-align: center;
    padding: 30%;
    -webkit-animation: cambiarColor, cambiarColor2;
    animation: cambiarColor, cambiarColor2;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-play-state: running;
  }
}
