#fichaPersonaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffe4c4;
}

fieldset {
  display: flex;
  flex-direction: column;
  background-color: #40e0d0;
}

.inRow {
  display: flex;
  flex-direction: row;
}

#startGame {
  display: flex;
  margin: 0 auto;
  padding: 3em;
}

#inicioJuego {
  display: grid;
  justify-content: center;
  background-color: #40e0d0;
}

#finalJuego {
  background-color: #0000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}
span {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

#botonesAtaque input {
  padding: 2em;
}

p {
  text-align: center;
}
