*, *::after, *::before{
  box-sizing: border-box;
}
html{
  font-size: 20px;
}
header h1{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 4rem;
  font-style: italic;
  color: yellowgreen;
  text-shadow: 5px 5px #e5e5e5;
  text-align: center;
  color: tomato;
}
.error{
  color: red;
  text-align: center;
}
a{
  text-decoration: none;
}
label{
  display: block;
  margin-top: 10px;
}