#marco {
  border: 0.01em solid #000;
  border-radius: 3em;
  background-color: #e5e5e5;
  text-align: center;
  margin: 0 auto;
  height: 40%;
  width: 40%;
}

#historico {
  margin-bottom: 1em;
}

h1 {
  border-top: 0.01em solid #000;
}

button {
  border-color: #6f268d;
  border: 7px outset #6f268d;
  background-color: #6f268d;
  text-align: center;
  color: #ffff;
  display: block;
  margin-left: auto;
}
select {
  color: #797979;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  padding-right: 2em;
}

input {
  text-align: center;
  width: 6em;
}

textarea {
  width: 70%;
  height: 10em;
}
