.marco {
  border: 0.01em solid #000;
  border-radius: 3em;
  background-color: #e5e5e5;
  text-align: center;
  margin: 0 auto;
  height: 40%;
  width: 40%;
}

h1 {
  border-top: 0.01em solid #000;
}

button {
  border-color: #6f268d;
  border: 7px outset #6f268d;
  background-color: #6f268d;
  text-align: center;
  color: #ffff;
  display: block;
}

img {
  text-align: center;
}

label,
select,
input,
img {
  display: inline-block;
}
