*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 20px;
  background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190614/ourmid/pngtree-simple-airline-purple-background-material-image_123061.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  -moz-background-size: auto;
  -webkit-background-size: auto;
  -o-background-size: auto;
}
header h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 4rem;
  font-style: italic;
  color: #8a2be2;
  text-shadow: 5px 5px #e5e5e5;
  text-align: center;
}

hr {
  color: #7d2181;
}
/* Buscador */
#ok {
  text-align: center;
  background-color: #8a2be2;
  color: white;
  border-color: black;
  padding: 5px;
  font-weight: bold;
}

fieldset {
  width: 50%;
  border-color: #83c17a;
  margin: 0 auto;
  text-align: center;
}

nav a {
  text-decoration-line: none;
  color: #009c8c;
}

nav a:hover {
  font-weight: bold;
}

/* Tabla */
table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: lightgray;
}

caption {
  margin-top: 10px;
  color: red;
  font-weight: bold;
  text-decoration-line: underline;
  font-size: 1.3em;
}
