body {
    max-width: 600px;
    margin: 0 auto;
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-weight: bolder;
}

.active {
    background-color: rgb(114, 250, 130);
}

.selected {
    background-color: rgb(189, 55, 25);
}

.styled {
    background-color: rgb(106, 11, 95);
}

.hidden {
    display: none;
}

div {
    border: 2px solid blue;
    padding: 15px;
    margin: 5px;
}

div:hover {
    background-color: sandybrown;
    cursor: pointer;
}

.heading1 {
    color: #000;
}