<app-navbar></app-navbar>
<h2>{{ title }}</h2>
<!-- EJEMPLO DE EXAMEN -->
<form [formGroup]="carForm" (ngSubmit)="onSubmit()">
  <label for="marca">Marca: </label>
  <input id="marca" type="text" formControlName="marca" />

  <label for="modelo">Modelo: </label>
  <input id="modelo" type="text" formControlName="modelo" />

  <label for="fecha">Año: </label>
  <input id="fecha" type="date" formControlName="fecha" />

  <label for="descripcion">Descripcion: </label>
  <textarea
    id="descripcion"
    cols="30"
    rows="10"
    formControlName="descripcion"
  ></textarea>

  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!carForm.valid">Submit</button>
</form>

<hr />
<!-- Esto es para mostrarlo abajo -->
<!-- La tuberia del json se pone, sino muestra OBJECT OBJECT -->
<p>Form Value: {{ carForm.value | json }}</p>
