<h1>MondongoCars</h1>
<main>
    <p>
        Compre nuestros coches de segunda mano, le aseguramos que son los más fiables del mercado
        ya que los revisan nuestro equipo de profesionales.
        Nuestro lema es: <br><br>
        <i> De lo bueno lo mejor, de lo mejor lo superior</i>
    </p>
    <figure>
        <img src="../../../assets/media/img/coche.jpg" alt="coche de ladrillo">
        <figcaption>El primer coche de ladrillo &copy;BrickCarLions & &copy;MondongoCars</figcaption>
    </figure>
</main>